In [59]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [60]:
file = "datasets/data.csv"
recipes_df = pd.read_csv(file)

In [61]:
recipes_df

,Recipe Name,Cook Time,Yield,Calories,Main Ingredient,URL
0,Scotch Eggs,25.0,4.0,3172.921085,Eggs,http://www.seriouseats.com/recipes/2012/03/sco...
1,Moonstruck eggs,24.0,2.0,786.910000,Eggs,https://food52.com/recipes/518-moonstruck-eggs
2,Eggs Benedict,60.0,4.0,2863.087500,Eggs,http://www.bbc.co.uk/food/recipes/eggsbenedict...
3,Deviled eggs,17.0,4.0,302.270000,Eggs,http://honestcooking.com/deviled-eggs/
4,Scrambled Eggs,15.0,2.0,675.763984,Eggs,http://www.tastingtable.com/entry_detail/chefs...
...,...,...,...,...,...,...
938,Thai Cucumber Salad with Peanuts,20.0,4.0,935.830000,Peanuts,http://www.delish.com/cooking/recipe-ideas/rec...
939,Asian Chicken with Peanuts,45.0,4.0,1825.653876,Peanuts,http://www.myrecipes.com/recipe/asian-chicken-...
940,"Grilled Shrimp with Cilantro, Lime, and Peanuts",20.0,4.0,903.322406,Peanuts,http://www.marthastewart.com/339717/grilled-sh...
941,Sugared Peanuts,50.0,4.0,4859.280000,Peanuts,https://www.foodnetwork.com/recipes/paula-deen...
942,Spicy Chicken Stir-Fry with Peanuts,15.0,1.0,257.123985,Peanuts,http://www.delish.com/cooking/recipe-ideas/rec...

In [62]:
connection = f"postgres:{password}@localhost:5432/ETL"
engine = create_engine(f'postgresql://{connection}')

In [63]:
engine.table_names()

['Recipes', 'Url', 'Ingredients', 'Store']

In [64]:
recipetable_df = recipes_df[["Main Ingredient","Recipe Name","Cook Time","Yield","Calories"]]
recipetable_df.rename(columns={"Main Ingredient":"Main_Ingredient","Recipe Name":"Recipe_Name","Cook Time":"Cook_time"},inplace=True)

recipetable_df.index.name = "id"
recipetable_df

C:\Users\ramya\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Main_Ingredient,Recipe_Name,Cook_time,Yield,Calories
id,,,,,
0,Eggs,Scotch Eggs,25.0,4.0,3172.921085
1,Eggs,Moonstruck eggs,24.0,2.0,786.910000
2,Eggs,Eggs Benedict,60.0,4.0,2863.087500
3,Eggs,Deviled eggs,17.0,4.0,302.270000
4,Eggs,Scrambled Eggs,15.0,2.0,675.763984
...,...,...,...,...,...
938,Peanuts,Thai Cucumber Salad with Peanuts,20.0,4.0,935.830000
939,Peanuts,Asian Chicken with Peanuts,45.0,4.0,1825.653876
940,Peanuts,"Grilled Shrimp with Cilantro, Lime, and Peanuts",20.0,4.0,903.322406
941,Peanuts,Sugared Peanuts,50.0,4.0,4859.280000
942,Peanuts,Spicy Chicken Stir-Fry with Peanuts,15.0,1.0,257.123985

In [65]:
urltable_df = recipes_df[["Main Ingredient", "URL"]]
urltable_df.rename(columns={"Main Ingredient":"Main_Ingredient"},inplace=True)
urltable_df.index.name = "id"
urltable_df

C:\Users\ramya\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    Main_Ingredient                                                URL
id
0              Eggs  http://www.seriouseats.com/recipes/2012/03/sco...
1              Eggs     https://food52.com/recipes/518-moonstruck-eggs
2              Eggs  http://www.bbc.co.uk/food/recipes/eggsbenedict...
3              Eggs             http://honestcooking.com/deviled-eggs/
4              Eggs  http://www.tastingtable.com/entry_detail/chefs...
..              ...                                                ...
938         Peanuts  http://www.delish.com/cooking/recipe-ideas/rec...
939         Peanuts  http://www.myrecipes.com/recipe/asian-chicken-...
940         Peanuts  http://www.marthastewart.com/339717/grilled-sh...
941         Peanuts  https://www.foodnetwork.com/recipes/paula-deen...
942         Peanuts  http://www.delish.com/cooking/recipe-ideas/rec...

[943 rows x 2 columns]

In [66]:
# Ingredient Table
ingredient_list = recipes_df["Main Ingredient"].unique()
ingredient_df = pd.DataFrame(ingredient_list, columns=['Main_Ingredient'])
ingredient_df.index.name = "id"
ingredient_df.index += 1 
ingredient_df

             Main_Ingredient
id
1                       Eggs
2                    Almonds
3             Chicken breast
4                       Oats
5             Cottage cheese
6               Greek yogurt
7                       Milk
8                   Broccoli
9                  Lean beef
10                      Tuna
11                    Quinoa
12  Whey protein supplements
13                   Lentils
14             Ezekiel bread
15             Pumpkin seeds
16             Turkey breast
17                      Fish
18                    Shrimp
19          Brussels sprouts
20                   Peanuts

In [67]:
# Load dataframes into database, Table: Recipes
recipetable_df.to_sql(name='Recipes', con=engine, if_exists='append', index=True)

In [68]:
# Load dataframes into database, Table: Url
urltable_df.to_sql(name='Url', con=engine, if_exists='append', index=True)

In [69]:
# Load dataframes into database, Table: Ingredients
ingredient_df.to_sql(name='Ingredients', con=engine, if_exists='append', index=True)